@import "bootsrap-grid";
@import "variables";
@import "typography";
@import "mediaqueries";

@import "components/button";

@import "sections/menu";
@import "sections/header";
@import "sections/about";

// main styles

body {
    margin: 0;
    padding: 0;
    margin-top: 80px;
    min-height: 200vh;
};

* {
    box-sizing: border-box;
};

.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 10px;
}

.img {
    display: block;
    width: 100%;
    height: auto;
}