@import "bootsrap-grid";
@import "variables";
@import "mediaqueries";
@import "typography";

@import "components/button";
@import "components/product";
@import "components/burger";

@import "sections/menu";
@import "sections/header";
@import "sections/about";
@import "sections/offer";
@import "sections/localization";
@import "sections/contact";
@import "sections/footer";

// main styles

body {
    margin: 0;
    padding: 0;
    // margin-top: 80px;
    min-height: 200vh;
    padding-top: 80px;

    @include mq(medium) {
        margin-top: 0;
    };
};

* {
    box-sizing: border-box;
};

.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 10px;
}

.img {
    display: block;
    width: 100%;
    height: auto;
}