.about {
    margin-top: 80px;

    @include mq(medium) {
       text-align: center;
       margin-top: 50px;

    };

    &__img-wrapper {
        .img {
            max-width: 80%;
            @include mq(xlarge) {
                max-width: 95%;
                border-radius: 25px;
            };
        };

        
        &::after {
            display: block;
            content: "";
            background-color: $color-primary;
            width: 80%;
            height: 100%;
            position: absolute;
            top: 50px;
            left: 50px;
            z-index: -1;

            @include mq(xlarge) {
                display: none;
            }
        }
    }

    .text {
        max-width: 80%;
        @include mq(large) {
            min-width: 90%;
        };
    }

    .btn {
        display: inline-block;
        margin-top: 35px;
    }
}