.contact {
    margin-top: 250px;
    color: #fff;
    background-image: url(../assets/contactbgc.png);
    background-size: cover;
    padding: 50px 10px;

    @include mq(medium) {
        margin-top: 50px;
    };

    .text {
        max-width: 80%;
        @include mq(medium) {
            text-align: center;
        };
        &--title {
            @include mq(medium) {
                text-align: center;
            }
        }
        @include mq(medium) {
            min-width: 100%;
        }
    };

    .title, .text {
        color: #fff;
    };
    
    &__img {
        display: block;
        margin: 0 auto;
        position: relative;
        top: -30%;
    };

    &__right-side {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
        .btn:nth-child(2) {
            margin-bottom: 30px;
        }

        @media (max-width: 1024px) {
            flex-direction: row;
            justify-content: space-between;
            padding: 0 30px;
            padding-bottom: 10px;
            flex-wrap: wrap;

            .btn:nth-child(2) {
                margin-bottom: 0px;
            }
        }

        @media (max-width: 420px) {
            
            .btn {
                margin-top: 10px;
                width: 100%;
            }
        }
    }

    .btn {
        color: #fff;
        box-shadow: 0 0 1px 1px #fff;
        min-width: 180px;

        &:hover {
            background-color: $color-primary-dark;
        }
    };

    .form {


        &__data {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        input {
            padding: 10px;
        }
        input, textarea {
            background-color: transparent;
            border: none;
            color: #fff;
            border-bottom: 1px  solid #ddd;
            margin: 0 auto;

            &::placeholder {
                color: #ccc;
            }
        };

        input {
            width: 25%;
            margin: 10px 3%;
            @media (max-width: 768px) {
                width: 90%;
                margin: 10px 3%;
            }
        }

        &__message {
            width: 90%;
            margin-top: 0px;
            padding: 0;
            position: relative;
            left: 5%;
            font-size: 15px;
            line-height: 1;
            padding-top: 10px;
            padding-left: 10px;
        };

        &__actions {
            margin-top: 40px;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 50px;

            .checkbox {
                margin: 0;
                padding: 0;
                width: 40px;
            }
            label {
                font-size: 12px;
                max-width: 60%;
                @media (max-width: 1024px) {
                    font-size: 8px;
                    max-width: 85%;
                }

            }
            .btn {
                background-color: transparent;
                margin-left: 10px;
                @media (max-width: 806px) {
                    margin-top: 30px;
                    margin-left: 15px;
                };

                &:hover {
                    background-color: $color-primary-dark;
                }
            }
        }
    }

};