.contact {
    margin-top: 250px;
    color: #fff;
    background-image: url(/assets/contactbgc.png);
    background-size: cover;
    padding: 50px 10px;

    .title, .text {
        color: #fff;
    };

    &__img {
        display: block;
        margin: 0 auto;
        max-width: 80%;
        position: absolute;
        top: -80%;
    };

    &__right-side {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .btn {
        color: #fff;
        box-shadow: 0 0 1px 1px #fff;
        min-width: 180px;

        &:hover {
            background-color: $color-primary-dark;
        }
    }
};