.contact {
    margin-top: 250px;
    color: #fff;
    background-image: url(/assets/contactbgc.png);
    background-size: cover;
    padding: 50px 10px;

    .title, .text {
        color: #fff;
    };

    &__img {
        display: block;
        margin: 0 auto;
        max-width: 80%;
        position: absolute;
        top: -80%;
    };

    &__right-side {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .btn {
        color: #fff;
        box-shadow: 0 0 1px 1px #fff;
        min-width: 180px;

        &:hover {
            background-color: $color-primary-dark;
        }
    };

    .form {


        &__data {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        input {
            padding: 10px;
        }
        input, textarea {
            background-color: transparent;
            border: none;
            color: #fff;
            border-bottom: 1px  solid #ddd;
            margin: 0 auto;

            &::placeholder {
                color: #ccc;
            }
        };

        input {
            width: 25%;
            margin: 10px 3% ;
        }

        &__message {
            width: 90%;
            margin-top: 20px;
            padding: 0;
            position: relative;
            left: 5%;
            font-size: 15px;
            line-height: 1;
            padding-top: 10px;
            padding-left: 10px;
        };

        &__actions {
            margin-top: 40px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 50px;
            
            .checkbox {
                margin: 0;
                padding: 0;
                width: 40px;
            }
            label {
                font-size: 12px;
                max-width: 70%;
            }
            .btn {
                background-color: transparent;
                margin-left: 10px;
                &:hover {
                    background-color: $color-primary-dark;
                }
            }
        }
    }

};