.header {
    background-image: url(../assets/new-lg1.jpg);
    background-size: cover;
    min-height: 970px;
    background-position: center;

    @include mq(large) {
        min-height: 400px;
    };
    @include mq(medium) {
        min-height: 300px;
    };
    @include mq(small) {
        min-height: 200px;
    };
}