.localization {
    margin-top: 50px;
    margin-bottom: 200px;
    
    &__header {
        margin-top: 40px;
        background-image: url(/assets/header.png);
        min-height: 500px;
        background-size: cover;
        position: relative;

    }

    &__columns {
        font-size: 15px;
        background-color: #fff;
        position: absolute;
        bottom: -130px;
        left: 15%;
        right: 15%;
        padding: 15px;
    };
    .col-4 {
        padding: 15px;
    }
}