.localization {
    margin-top: 50px;
    margin-bottom: 200px;

    @include mq(medium) {
        margin-top: 0px;
        margin-bottom: 0px;
    };

    .text {
        @include mq(medium) {
            text-align: center;
            padding: 20px 40px;;
        };
        &--title {
            text-align: center;
        }
    }

    &__header {
        margin-top: 40px;
        background-image: url(../assets/new4.jpg);
        background-position: center;
        min-height: 500px;
        background-size: cover;
        position: relative;

        @include mq(medium) {
            min-height: 700px;
        };
    }


    &__columns {
        font-size: 15px;
        background-color: #fff;
        position: absolute;
        bottom: -130px;
        left: 15%;
        right: 15%;
        padding: 15px;
        padding-left: 0;

        @include mq(medium) {
            position: static;
            background-color: transparent;
            padding-top: 10%;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            font-size: 12px;
        };
    };


    @include mq(medium) {
        &__text {
            max-width: 80%;     
            margin: 0 auto;
            margin-bottom: 10%;
            padding: 25px;   
            background-color: #fff;
            border-radius: 8px;
            text-align: center;;
        }
    };

    .col-4 {
        padding: 15px;
    }
}